body {
    margin: 0;
    background: #131E3A;
    color: white;
    height: 100%;
}

.area {
    width: 100%;
    height: 100%;
}

.pt1 {
    padding-top: 50%;
}

.container {
    margin-left: 25px;
}

.imghome {
    position: absolute;
    width: 1115px;
    height: 965px;
    left: 800px;
    top: 115px;

    background: url(img/space.png);
}

.btnlenmor {
    position: absolute;
    width: 227px;
    height: 104px;
    left: 253px;
    top: 649px;

    background: #D9D9D9;
    border-radius: 60px;
}

.txt {
    position: absolute;
    width: 165px;
    height: 45px;
    left: 44px;
    top: 30px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;

    color: #000000;
    text-decoration: none;
}

.container p {
    float: left;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    color: #ffffff;
    letter-spacing: -0.3;

    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
}

header {
    background: #131E3A;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.linenav {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    top: 102px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    padding-top: 18px;
    letter-spacing: -0.3;
    font-weight: bold;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 195, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 160, 210);
}

.title {
    position: absolute;
    width: 495px;
    height: 231px;
    left: 254px;
    top: 235px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 117px;

    color: #ffffff;
}

.subtitle {
    position: absolute;
    width: 733px;
    height: 137px;
    left: 253px;
    top: 512px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #ffffff;
}

.tim {
    position: absolute;
width: 696px;
height: 137px;
left: 116px;
top: 1164px;

font-family: 'IBM Plex Sans Condensed';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 117px;

color: #ffffff;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tim2 {
    position: absolute;
width: 696px;
height: 137px;
left: 350px;
top: 1150px;

font-family: 'Monoton';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 140px;

color: #ffffff;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle1 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 54px;
    top: 1412px;
    border-radius: 100%;

    background: #D9D9D9;
}

.circle2 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 427px;
    top: 1412px;
    border-radius: 100%;

    background: #D9D9D9;
}

.circle3 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 800px;
    top: 1412px;
    border-radius: 100%;

    background: #D9D9D9;
}

.circle4 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1173px;
    top: 1412px;
    border-radius: 100%;

    background: #D9D9D9;
}

.circle5 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1546px;
    top: 1412px;
    border-radius: 100%;

    background: #D9D9D9;
}

.circle1 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 54px;
    top: 1412px;
    border-radius: 100%;

    background: #D9D9D9;
}

.footerin {
    background-color: #2E2E2E;
    text-align: left;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
}

.footerin p {
    opacity: 0.32;
}

@media only screen and (max-width: 620px) {
    nav li {
        padding-right: 9px;
        padding-top: 12px;
    }

    nav a {
        font-size: 15px;
    }

    .pt1 {
        padding-top: 290px;
    }

    .pt2 {
        padding-top: 460px;
        padding-bottom: 216px;
    }

    .pt3 {
        padding-top: 60px;
        padding-bottom: 59px;
    }

    .logo {
        padding-top: 18px;
    }

    .container {
        width: 100%;
    }

    .container p {
        font-size: 14px;
        padding-top: 16px;
    }

    .pixart, .dc {
        width: 100%;
    }
}

@media only screen and (max-width: 820px) {
    .pt2 {
        padding-top: 460px;
        padding-bottom: 216px;
    }

    .pt3 {
        padding-top: 60px;
        padding-bottom: 59px;
    }
}

@media  only screen and (max-width: 320px) and (max-height: 630px) {
    .pt1 {
        padding-top: 40%;
    }

    .pt2 {
        padding-top: 100%;
    }
}