html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #131E3A;
    color: white;
    font-family: 'Google Sans';
    height: 100%;
}

.area {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.line {
    background: black;
    width: 100%;
    height: 5px;
    z-index: 1;
}

.pt1 {
    padding-top: 40%;
}

.container {
    margin-left: 25px;
}

.imghome {
    position: absolute;
    width: 1115px;
    height: 965px;
    left: 800px;
    top: 115px;

    background: url(img/space.png);
}

.btnlenmor {
    position: absolute;
    width: 240px;
    height: 104px;
    left: 253px;
    top: 649px;
    cursor: pointer;
    transition: transform .5s;

    background: #D9D9D9;
    border-radius: 60px;
}

.txt {
    position: absolute;
    width: 165px;
    height: 45px;
    left: 42px;
    letter-spacing: -1;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;

    color: #000000;
    text-decoration: none;
}

.btnlenmor:hover {
    transform: scale(1.09);
}

.container p {
    float: left;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    color: #ffffff;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
}

header {
    background: #131E3A;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.linenav {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    top: 102px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    padding-top: 18px;
    letter-spacing: -0.3;
    font-weight: bold;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;

    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 195, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 160, 210);
}

.title {
    position: absolute;
    width: 495px;
    height: 231px;
    left: 254px;
    top: 235px;

    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 117px;

    color: #ffffff;
}

.subtitle {
    position: absolute;
    width: 600px;
    height: 137px;
    left: 253px;
    top: 500px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #ffffff;
}

.footerin {
    /* position: absolute; */
    background-color: #2E2E2E;
    font-family: 'Google Sans';
    text-align: left;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
    /* width: 100%; */
}

.footerin p {
    opacity: 0.32;
}

.mat {
    position: absolute;
    width: 591px;
    height: 591px;
    left: -356px;
    top: 1020px;
    border-radius: 100%;
    transition: transform .7s;

    background: #D9D9D9;
    cursor: pointer;
}

.mat:hover {
    transform: scale(1.05);
}

.mattext {
    position: absolute;
    width: 173px;
    height: 54px;
    top: 496px;
    left: 414px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-decoration: none;

    color: #FFFFFF;
    transform: rotate(-33deg);
}

.mer {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 300px;
    top: 1390px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
    cursor: pointer;
}

.mer:hover {
    transform: scale(1.09);
}

.mer p {
    position: absolute;
    width: 173px;
    height: 54px;
    left: 20px;
    top: -110px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-decoration: none;

    color: #FFFFFF;
}

.ven {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 500px;
    top: 1030px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.ven:hover {
    transform: scale(1.09);
}

.ven p {
    position: absolute;
    width: 98px;
    height: 54px;
    left: 54px;
    top: 170px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.bum {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 680px;
    top: 1440px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.bum:hover {
    transform: scale(1.09);
}

.bum p {
    position: absolute;
    width: 91px;
    height: 54px;
    left: 55px;
    top: -110px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.mar {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 880px;
    top: 1210px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.mar:hover {
    transform: scale(1.09);
}

.mar p {
    position: absolute;
    width: 98px;
    height: 54px;
    left: 60px;
    top: -100px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.jup {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1130px;
    top: 990px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.jup:hover {
    transform: scale(1.09);
}

.jup p {
    position: absolute;
    width: 129px;
    height: 54px;
    left: 45px;
    top: 170px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.sat {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1290px;
    top: 1390px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.sat:hover {
    transform: scale(1.09);
}

.sat p {
    position: absolute;
    width: 148px;
    height: 54px;
    left: 30px;
    top: 170px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.ura {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1500px;
    top: 1130px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.ura:hover {
    transform: scale(1.09);
}

.ura p {
    position: absolute;
    width: 127px;
    height: 54px;
    left: 42px;
    top: -100px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.nep {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1660px;
    top: 1440px;
    border-radius: 100%;
    transition: transform .5s;

    background: #D9D9D9;
}

.nep:hover {
    transform: scale(1.09);
}

.nep p {
    position: absolute;
    width: 162px;
    height: 54px;
    left: 24px;
    top: -110px;

    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.planet {
    position: absolute;
    top: 910px;
    left: 200px;
    font-size: 70px;
    font-weight: bold; 
    text-decoration: underline;
}

/* About Page */

.soc {
    padding-top: 21%;
    padding-bottom: 17.3%;
    text-align: center;
    font-weight: bold;
    font-size: 24;
    opacity: 0.5;
}

/* @media only screen and (max-width: 620px) {

} */